@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Conneqt Black';
  src: url('/fonts/Conneqt-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro Thin';
  src: url('/fonts/AvenirNextLTPro-Thin.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}
